.container{
    margin-top: 150px;
    padding-left: 400px;
}
body{
    background-image:url('https://media.istockphoto.com/photos/headboard-detail-with-pillows-lamp-and-orchid-flowers-picture-id161692885?k=6&m=161692885&s=612x612&w=0&h=9GRtfsJ_9b6lvHf42NEzvPA_slFzUnLL2Xwq3p-Lvl8=');
    background-size:cover;
    background-position:center;
    height:100vh;

}
h6{
    color: blue;
}
h4{
    color:green;
}
.wrapper {
text-align: center;
}